* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main*/
.blog_top {
  background-image: url(./img/mv.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
  width: 100%;
}

.blog_title {
  padding: 20px 20px;
}

.blog_box {
  width: 840px;
  margin: 50px auto;
}

.blog_item {
  border-bottom: 1px solid #000;
  padding: 30px 0;
}

.title_pink {
  color: pink;
}

.title_red {
  color: red;
}